# bmake
/contrib/bmake sjg@FreeBSD.org

# byacc
/contrib/byacc bapt@FreeBSD.org jkim@FreeBSD.org

# dtc
/usr.bin/dtc jlduran@FreeBSD.org jrtc27@FreeBSD.org kevans@FreeBSD.org

# elftoolchain
/contrib/elftoolchain emaste@FreeBSD.org jkoshy@FreeBSD.org kaiw@FreeBSD.org

# libcxxrt
/contrib/libcxxrt dim@FreeBSD.org emaste@FreeBSD.org

# LLVM
/contrib/llvm-project dim@FreeBSD.org emaste@FreeBSD.org
/usr.bin/clang dim@FreeBSD.org emaste@FreeBSD.org

# unifdef
/contrib/unifdef des@FreeBSD.org

# acpi
/sys/contrib/dev/acpica jkim@FreeBSD.org

# athk
/sys/contrib/dev/athk bz@FreeBSD.org

# ice
/sys/contrib/dev/ice erj@FreeBSD.org

# ipfilter
/sys/netpfil/ipfilter cy@FreeBSD.org

# pf
/sys/netpfil/pf glebius@FreeBSD.org kp@FreeBSD.org

# umb
/sbin/umbctl khorben@FreeBSD.org
/sys/dev/usb/net khorben@FreeBSD.org
/sys/modules/usb/umb khorben@FreeBSD.org

# ZFS
/sys/contrib/openzfs mm@FreeBSD.org
/cddl mm@FreeBSD.org

# zlib
/sys/contrib/zlib delphij@FreeBSD.org

# zstd
/sys/contrib/zstd allanjude@FreeBSD.org cem@FreeBSD.org

# ldns
/contrib/ldns cy@FreeBSD.org des@FreeBSD.org

# libpcap
/contrib/libpcap cy@FreeBSD.org jrm@FreeBSD.org

# blocklist
/contrib/blocklist emaste@FreeBSD.org

# dma
/contrib/dma bapt@FreeBSD.org emaste@FreeBSD.org

# NTP
/contrib/ntp cy@FreeBSD.org

# OpenSSH
/crypto/openssh des@FreeBSD.org emaste@FreeBSD.org

# Sendmail
/contrib/sendmail gshapiro@FreeBSD.org

# Unbound
/contrib/unbound cy@FreeBSD.org des@FreeBSD.org

# WireGuard
/contrib/wireguard-tools kevans@FreeBSD.org

# wpa_supplicant
/contrib/wpa cy@FreeBSD.org

# lib9p
/contrib/lib9p jceel@FreeBSD.org

# tcpdump
/contrib/tcpdump cy@FreeBSD.org emaste@FreeBSD.org jrm@FreeBSD.org

# BearSSL
/contrib/bearssl sjg@FreeBSD.org

# OpenSSL
/crypto/openssl khorben@FreeBSD.org ngie@FreeBSD.org

# arm-optimized-routines
/contrib/arm-optimized-routines andrew@FreeBSD.org arichardson@FreeBSD.org

# bionic-x86_64-string
/contrib/bionic-x86_64-string emaste@FreeBSD.org

# bsddialog
/contrib/bsddialog asiciliano@FreeBSD.org bapt@FreeBSD.org kevans@FreeBSD.org

# bzip2
/contrib/bzip2 delphij@FreeBSD.org obrien@FreeBSD.org

# flex
/contrib/flex jkim@FreeBSD.org

# Heimdal Kerberos
/crypto/heimdal dfr@FreeBSD.org dim@FreeBSD.org
/contrib/com_err dfr@FreeBSD.org dim@FreeBSD.org

# jemalloc
/contrib/jemalloc imp@FreeBSD.org jasone@FreeBSD.org vangyzen@FreeBSD.org

# libarchive
/contrib/libarchive mm@FreeBSD.org

# libbegemot
/contrib/libbegemot harti@FreeBSD.org trhodes@FreeBSD.org

# libcbor
/contrib/libcbor emaste@FreeBSD.org

# libdiff
/contrib/libdiff des@FreeBSD.org

# libedit
/contrib/libedit bapt@FreeBSD.org

# libevent
/contrib/libevent cy@FreeBSD.org emaste@FreeBSD.org

# libexecinfo
/contrib/libexecinfo cem@FreeBSD.org emaste@FreeBSD.org

# libexpat
/contrib/expat delphij@FreeBSD.org ngie@FreeBSD.org philip@FreeBSD.org vangyzen@FreeBSD.org
/lib/libexpat delphij@FreeBSD.org ngie@FreeBSD.org philip@FreeBSD.org vangyzen@FreeBSD.org

# libfido2
/contrib/libfido2 emaste@FreeBSD.org

# liblzma
/contrib/xz delphij@FreeBSD.org mm@FreeBSD.org rpaulo@FreeBSD.org

# libmagic
/contrib/file delphij@FreeBSD.org

# libucl
/contrib/libucl bapt@FreeBSD.org bofh@FreeBSD.org

# libxo
/contrib/libxo marcel@FreeBSD.org ngie@FreeBSD.org phil@FreeBSD.org

# LibYAML
/contrib/libyaml bapt@FreeBSD.org

# mandoc
/contrib/mandoc bapt@FreeBSD.org ziaee@FreeBSD.org

# ncurses
/contrib/ncurses bapt@FreeBSD.org

# OpenPAM
/contrib/openpam des@FreeBSD.org

# SQLite
/contrib/sqlite3 bapt@FreeBSD.org cy@FreeBSD.org

# Time Zone Code
/contrib/tzcode des@FreeBSD.org

# Time Zone Database
/contrib/tzdata philip@FreeBSD.org

# awk
/contrib/one-true-awk imp@FreeBSD.org

# bc
/contrib/bc se@FreeBSD.org

# ee
/contrib/ee FreeBSD.org

# hyperv
/contrib/hyperv whu@FreeBSD.org

# less
/contrib/less delphij@FreeBSD.org

# Lua
/contrib/lua imp@FreeBSD.org kevans@FreeBSD.org

# pkg
/usr.sbin/pkg @FreeBSD/pkg

# ATF
/contrib/atf ngie@FreeBSD.org

# capsicum-test
/contrib/capsicum-test arichardson@FreeBSD.org ngie@FreeBSD.org

# GoogleTest
/contrib/googletest ngie@FreeBSD.org

# kyua
/contrib/kyua brooks@FreeBSD.org

# NetBSD tests
/contrib/netbsd-tests ngie@FreeBSD.org

# pjdfstest
/contrib/pjdfstest asomers@FreeBSD.org ngie@FreeBSD.org pjd@FreeBSD.org @FreeBSD/test

