/acpi
/awk
/bc
/bmake
/bsddialog
/byacc
/bzip2
/diff
/dma
/dtc
/file
/flex
/heimdal
/ipfilter
/kyua
/ldns
/less
/libarchive
/libc
/libedit
/libevent
/liblzma
/libpcap
/libxo
/llvm
/mkuzip
/ncurses
/openssl
/patch
/pkg
/sendmail
/sqlite
/tcpdump
/unbound
/unifdef
/wireguard
/wpa_supplicant
/zfs
/zlib
/zstd
