/acpi
/awk
/bc
/bsddialog
/byacc
/bzip2
/dtc
/file
/flex
/heimdal
/ipfilter
/less
/libarchive
/libc
/libedit
/libevent
/liblzma
/libpcap
/libxo
/llvm
/mkuzip
/ncurses
/openssl
/patch
/pkg
/sqlite
/tcpdump
/unifdef
/versions.yml
/zfs
/zlib
