name: Re-generate the deliverables (FreeBSD)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs: 
  re-generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Test in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          prepare: |
          

          run: |
            pkg install -y go124
            make
